<!DOCTYPE html>
<html lang="{{languageData}}">
<head>
    <meta charset="UTF-8">
    <meta description="{{description}}">
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block stylesheets %}<link href="css/style.css" rel="stylesheet" type="text/css">{% endblock %}
</head>
<body>
{% block body %}

    <div class="ban">
        <h1>{% trans from "messages" %}messages.goodmorning{% endtrans %}</h1>
    </div>
    <div class="content">
        <a href="http://www.symfony-challenge.dev">International</a>
        <br>
        <br>

        <table>
            <tr>
                <th>Francais</th>
                <th>English</th>
                <th>Deutsch</th>
                <th>Nederlands</th>
            </tr>

            <tr>
                <td><a href="http://france.symfony-challenge.dev">fr-FR</a></td>
                <td><a href="http://united-kingdom.symfony-challenge.dev">en-GB</a></td>
                <td><a href="http://deutschland.symfony-challenge.dev">de-DE</a></td>
                <td><a href="http://nederland.symfony-challenge.dev">nl-NL</a></td>
            </tr>
            <tr>
                <td><a href="http://belgique.symfony-challenge.dev">fr-BE</a></td>
                <td><a href="http://australia.symfony-challenge.dev">en-AU</a></td>
                <td><a href="http://schweiz.symfony-challenge.dev">de-CH</a></td>
                <td><a href="http://belgie.symfony-challenge.dev">nl-BE</a></td>

            </tr>

            <tr>
                <td><a href="http://luxembourg.symfony-challenge.dev">fr-LU</a></td>
                <td><a href="http://united-states.symfony-challenge.dev">en-US</a></td>
                <td><a href="http://osterreich.symfony-challenge.dev">de-AT</a></td>
                <td></td>
            </tr>

            <tr>
                <td><a href="http://suisse.symfony-challenge.dev">fr-CH</a></td>
                <td><a href="http://new-zealand.symfony-challenge.dev">en-NZ</a></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td><a href="http://ireland.symfony-challenge.dev">en-IE</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="http://canada.symfony-challenge.dev">en-CA</a></td>
                <td></td>
                <td></td>
            </tr>

        </table>


    </div>


{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
